*{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(pies.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#plano
{
   
    background-color:rgba(255, 255, 255, 0.726);
   
}
#logo
{
    float: left; 
    
    margin-left: 30px;
    margin-top: -20px;

}
#letra{

    height: 80px;
    float: right;
    margin-left: -20px;
    margin-right: 45px;
    margin-top: 30px;
}
#h4{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }  
#menu
    {
        float: right; 
        margin-right: 5px; 
    }
#menu2
{

margin-left: 315px;
color: #000;
float: center;
}
#a{
    color:  rgb(0, 0, 0);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#b{

color: rgb(0, 87, 44);
margin-left: 100px;
margin-right: 100px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#c{
    margin-top: 1px;
    width: 270px;
    height: 26px;
}
#c1{
    margin-left: 20px;
    width: 330px;
    height: 32px;
    border: 2px solid rgb(0, 0, 0) ;
}
label{
    margin-left: -260px;
}
#c2{
    margin-left: 50px;
    width: 700px;
    height: 65px;
    border: 2px solid rgb(0, 0, 0) ;
}
#mensaje{
    margin-top: 2px;
    width: 640px;
    height: 55px;
}